target/
*.iml
*.ipr
*.iws
.settings
.project
.classpath
.DS_Store
data/
.idea/
*~
.*.swp
node_modules
npm-debug.log
*-verification.properties
.vagrant
Vagrantfile
Servers/
sf_connector.cmd
rebel.xml
*KahaDB/
